/* styles/main.css */
div#app section.main > div.card-container > div.card {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 9px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 352px !important; /* Code smells here */
}